
/*
########################################
tiles
########################################
*/

#tilesSection{

}

#tilesSection #tiles{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10%;
  gap: 10px;
  justify-content: space-around;
}

.MainMenueButton{
  background-color: var(--white-080);
  padding: 5px;
  border-radius: 0.25rem;
  max-width: 125px;
}

.MainMenueButton img{
	width:100%;
	max-width: 200px;
}

/*
########################################
Menue Items
########################################
*/

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-2);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid white;
  border-bottom:0;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion > img {
	max-width: 35px;
}


.active, .accordion:hover {
  background-color: var(--bg-color-1) !important;
}

.accordion:after {
  content: '\25BE';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\25B4'; 

}

.panel {
  padding: 0 18px;
  background-color: var(--bg-color-1);
  max-height: 0;
  border: 1px solid white;
  border-top:0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel > p, .panel > div{
	padding: 10px;
}

/*
########################################
Settings
########################################
*/
.settings{
	max-width: 80px;
	margin: 10px;
}
.settings > img{
	max-width: 100%;
	aspect-ratio: 1;
}