	html,
	body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
	font-family: Roboto, Arial, sans-serif;
	}
	
	/*
########################################
colors
########################################
*/

	:root {
	  --bg-color-005: rgba(108, 122, 137, 0.05); /* fallback colors to be overwritten by .js*/
	  --bg-color-010: rgba(108, 122, 137, 0.10);
	  --bg-color-030: rgba(108, 122, 137, 0.30);
	  --bg-color-050: rgba(108, 122, 137, 0.50);
	  --bg-color-090: rgba(108, 122, 137, 0.90);
	  --bg-color-100: rgba(108, 122, 137, 1.00);
	  --hl-color: rgba(75, 85, 95, 1.00);
	  --bg-white: rgba(255, 255, 255, 0.70);
	  --mainColor-1: none;/*rgba(2550,0,0,0.0000000000000001);*/
	  --mainColor-2: none;/*rgba(2550,0,0,0.0000000000000001);*/
	  --main-color-1: rgba(152, 66, 211, 1);
	  --textColor: black;
	}
	body{
		color: var(--textColor);
	}
	a {
		color: rgba(108, 122, 137, 1.00);;
	}	

	#renderCanvas {
		width: 100%;
		height: 100%;
		touch-action: none;
		/*background-image: url('/logo.png');*/ /*to include watermark*/
		background-image: linear-gradient(to top, var(--mainColor-2) 0%, var(--mainColor-1) 50%);
	}
	#licInfo{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1em;
		overflow: hidden;
	}
	#licInfo img {
		width: 16px;
		margin: 4px;
		float: left;
	}
	#licInfo1 {
		margin:0;
		overflow: hidden;
	}
	#licInfo2 {
		margin:0;
		float: left;
		overflow: hidden;
	}
/*
	.container {
		position: absolute;
		right: 0px;
		bottom: 0px;
		border-radius: 5px;
		width: auto;
		transition: width 0.3s ease;
	}
*/
.container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* background-color: var(--bg-white); */
    /* padding: 5px; */
    border-radius: 5px;
    width: 25%;
    transition: width 0.3s ease;
    max-height: 90vh;
    /* text-align: left; */
    min-width: 240px;
}
	
	#menueButton-container{
		position: relative;
		bottom: 15px;
		width: 100px;
		background-color: var(--bg-white);
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		transform: translateY(-100%);
	}
	
	#menueButton img{
	width: 100%;
	}
/*	
	.column {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: end;
		width: auto;
		max-height: 100vh;
	}
*/

.column {
    display: flex;
    flex-direction: row; /* Default is row; column isn't ideal for this layout */
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    align-content: flex-end; /* Push rows to the bottom of the container */
    justify-content: flex-end; /* Push items to the right within their row */
	max-height: 100vh;
    min-width: 110px;
}

	.item {
		width: 100px;
		height: auto;
		margin: 10px 5px 10px auto;
		background-color: var(--bg-white);
		border-radius: 5px;
		border: 2px solid var(--bg-color-010);
		overflow: hidden;
		transition: height 0.3s ease;
	}
	.button {
		position: relative;
		width: 100%;
		aspect-ratio: 1;
		background-color: transparent;
		background-size: cover;
		border: none;
		cursor: pointer;
	}
	.vDisplay{
		display: block;
		position: absolute;
		bottom: -3px;
		left: 0;
		height: 0;
		min-width: auto;
		width:50%;
		padding: 2px 0;
		background: var(--bg-color-100);
		border: solid 3px var(--bg-color-100);
		border-radius: 2px 5px 0 0;
		font-size: large;
		overflow: hidden;
		color: var(--textColor);
		transition: height 0.3s ease;
	}
	.sliderContainer{
		height: 0;
		overflow: hidden;
		transition: height 0.3s ease;
	}

	.slider {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
		width: 100%;
		margin: 10px 0;
		writing-mode: lr;
	}
	#CAMcontroll{
		position: absolute;
		bottom: 10px;
		background-color: var(--bg-white);
		padding: 5px;
		border-radius: 5px;
		width: 25%;
		max-width:150px;
		min-width: 50px;
	}
	.CAMslider {
		margin:0;
		background-image: url("../resources/body/body-icon2.png");
		background-size: 100%;
		background-repeat: no-repeat;
		writing-mode: vertical-rl;
		aspect-ratio: 1/2;
	}
	.slider:focus {
		outline: none;
	}
	.slider::-webkit-slider-runnable-track {
		height: 20px;
	}
	.CAMslider::-webkit-slider-runnable-track {
		width: 100%;
	}
	.slider::-moz-range-track{
		height: 20px;
	}
	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 26px;
		height: 26px;
		margin-top: -3px; /* to center thumb on track margin-top = (track height in pixels / 2) - (thumb height in pixels /2)*/
		background-color: rgba(255, 255, 255, 1); /*var(--bg-color-100);*/
		border: 2px solid var(--bg-color-100);
		border-radius: 5px;
	}
	.slider::-moz-range-thumb {
		width: 26px;
		height: 26px;
		background-color: rgba(255, 255, 255, 1); /*var(--bg-color-100);*/
		border: 2px solid var(--bg-color-100);
		border-radius: 5px;
	}
	.CAMslider::-webkit-slider-thumb {
		width: 25%;
		height: 12.5%;
		margin-right: 19%;
	}
	.CAMslider::-moz-range-thumb {
		width: 25%;
		height: 12.5%;
	}
	.thumb-icon {
		position: absolute;
		left: 33%;
		top: 0;
		font-size: 20px;
		pointer-events: none;
		margin: 4.5%;
		width: 25%;
		height: 12.5%;
	}
	.thumb-icon img{
		width: 100%;
	}		

	#rotationControll {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		cursor: pointer; /* Indicate it's clickable */
	}

	#rotationIcon {
		width: 30%;
		max-width: 80%; /* Ensure the image fits nicely */
		max-height: 80%; /* Prevent overflow */
	}

	.hidden {
		height: 0;
		boorder: none;
	}
	.visible {
		height: auto; 
	}
	.selected {
		width: 130px;
	}	


	@media screen and (min-height: 961px) { 
		.selected{
			width: 150px;
		}
		#CAMcontroll{
			max-width: 250px;
		}
	}

	@media screen and (max-height: 960px) { 
		.column {
		/*	max-height: 50vh; */
		}
		.selected{
			width: 150px;
		}
		.not-selected{
			display:none;
		}
		#CAMcontroll{
			max-width: 250px;
		}
	}

	@media screen and (max-height: 750px) { 
		.column {
		/*	max-height: 70vh; */
		}
		.not-selected{
			display:none;
		}
		#CAMcontroll{
			width:auto;
			max-width: 30%;
			min-width:200px;
		}
		.CAMslider{
			max-height: 90vh;
			min-height:50vh;
		}
	}

	@media screen and (max-height: 641px) { 
		.column {
		/*	max-height: 70vh; */
		}
		.not-selected{
			display:none;
		}
		#CAMcontroll{
			width:auto;
			max-width: 30%;
			min-width:200px;
		}
		.CAMslider{
			max-height: 90vh;
			min-height:50vh;
		}

	@media screen and (max-height: 481px) { 
		.column {
		/*	max-height: 80vh; */
		}
		.item, #menueButton-container{
			width:70px;
		}
		.not-selected{
			display:none;
		}
		#CAMcontroll{
			width:auto;
			max-width: 20%;
			min-width:200px;
		}
		.CAMslider{
			max-height: 90vh;
			min-height:50vh;
		}
	}

	@media screen and (max-height: 375px) { 
		.column {
			max-height: 100vh; 
		}
		.item, #menueButton-container{
			width:70px;
		}
		.not-selected{
			display:none;
		}
		.selected {
			background-color: var(--bg-color-010);
			border: 2px solid var(--bg-color-100);
			width: 130px;
		}
		#CAMcontroll{
			width:auto;
			max-width: none;
			min-width:auto;
		}
		.CAMslider{
			max-height: 90vh;
			min-height:50vh;
		}

	}