/*
########################################
Reset
########################################
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1.2em;
	font-family: Roboto, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*
########################################
colors
########################################
*/

:root {
  --bg-color-1: rgba(33, 13, 38, 0.9);
  --bg-color-2: rgba(40, 36, 54, 21);
  --bg-color-elemnt: rgba(108, 122, 137, 1.00);
  --white-080: rgba(255, 255, 255, 0.80);
}

/*
########################################
Main Elemnts
########################################
*/

html, body{
	text-align:center;
	height: 100%;
	/*background-image: linear-gradient(to top, var(--bg-color-2) 0%, var(--bg-color-1) 50%);*/
	color: var(--white-080);
}

body {
	display: flex;
	flex-direction: column;
	/*height: auto;*/
}

header{

}

#content{
	flex: 1 0 auto;
	border-bottom: solid 0.3em var(--bg-color-2);
	padding: 1em;
	background-image: linear-gradient(to top, var(--bg-color-2) 0%, var(--bg-color-1) 50%);
	color: var(--white-080);
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: var(--bg-color-2);
}


/*
########################################
header (title)
########################################
*/

#titleBar{
	width:100%;
	padding: 1em 0;
	flex:0.1;
	background-color: var(--bg-color-2);
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: bold;
}

/*
########################################
Topics
########################################
*/

.topic{
  width:70%;
  min-width: 200px;
  margin: 10px auto;
  border: 1px solid white;
  border-radius: 15px;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-2);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion > img {
	max-width: 35px;
}

.active {
  border-radius: 15px 15px 0 0;
}

.active, .accordion:hover {
  background-color: var(--bg-color-1) !important;
}

.accordion:after {
  content: '\25BE';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\25B4'; 

}

.panel {
  background-color: var(--bg-color-1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  border-radius: 0 0 15px 15px;	
}

.panel > p, .panel > div{
	padding: 10px;
}

.panel h2{
	margin-top:0.5em;
	font-weight:bold;
}

.lesson { 
    position: relative; 
    width: 100px;
	aspect-ratio: 1;
	border: 2px solid white;
	border-radius: 50%;
	margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
	cursor: pointer;
}

.lesson::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	border-radius: 50%;
    background-color: rgba(152, 66, 211, 0.4);
}

.lesson > p {
  position: relative;
  color: #ffffff;  
  text-align: center;
  cursor: pointer;
  word-break: auto-phrase;
}

/*
########################################
navigationBar 
########################################
*/

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menueBar{
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
}

.menueButton {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--white-080);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#menueButton{
	position: absolute;
	left: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
}

/*
########################################
Menue Overlay
########################################
*/

.overlay {
  height: 0%;
  width: 100%;
  margin-bottom:50px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: var(--bg-color-2);
  overflow-y: auto;
  transition: 0.5s;
}

.overlayContent {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 60px;
  z-index:5;
  color: var(--white-080);
}
/*
.overlay button {
	background-color: var(--bg-color-1) !important;
}
*/
/*
########################################
Menue Items
########################################
*/

.navButton{
	width: 50px;
	height: 50px;
	background-color: var(--bg-color-100);	
	border: none;
	padding: 0.7em;
	margin: 0 1px 11px 1px;
	border-radius: 0.25rem;
}
.navButton img{
	width: 100%
}


/*
########################################
Settings
########################################
*/
.settings{
	max-width: 80px;
	margin: 10px;
}
.settings > img{
	max-width: 100%;
	aspect-ratio: 1;
}